.dark-background {
  --background: #1f1e1e;
  color: #ffffff;
}

ion-toolbar[color="dark"] {
  --background: #211f1f;
}

ion-toolbar[color="medium"] {
  --background: #3a3a3a; 
}

//Informacion de la pelicula
.movie-info-container {
  text-align: center;
  margin-top: 10px;
  padding: 0 16px; 
}

.movie-title {
  font-size: 24px;
  color: #cccccc;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 16px;
}

.movie-meta {
  font-size: 14px;
  color: #cccccc;
  margin: 5px 0 20px 0;
  padding: 0 16px;
}

//calificacion
.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.rating-container ion-icon {
  font-size: 24px;
  margin: 0 5px;
}

.rating-score {
  font-size: 18px;
  color: #ffcc00;
  margin-left: 10px;
}

//video
.video-container {
  margin: 20px auto; 
  max-width: 100%; 
  display: flex;
  justify-content: center; 
}

.video-frame {
  width: 100%; 
  height: 200px; 
  border-radius: 10px;
  overflow: hidden;
}

//portada
.cover-image-container {
  flex: 0 0 auto;
}

.cover-image-container img {
  width: 120px; 
  height: 170px;  
  object-fit: cover; 
  border-radius: 8px;
  margin: 4px;
}

.movie-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  padding: 0 16px; 
}

//sinopsis
.movie-synopsis {
  flex: 1;
  font-size: 13px;
  color: #ffffff;
  text-align: left;
  line-height: 1.5;
  padding: 0 5px; 
}

//Géneros
.genres-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 8px; 
  margin: 10; 
  padding: 10px; 
}

.genre-badge {
  background-color: #444;
  padding: 6px 12px;
  border-radius: 16px; 
  font-size: 12px; 
  color: #fff; 
}

//servicios de streaming
.streaming-label {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px;
  text-align: center;
}

.streaming-buttons {
  display: flex;
  justify-content: center;
  gap: 16px; 
  margin: 16px 0; 
  padding: 0 16px; 
}

.service-icon {
  width: 32px; 
  height: 32px; 
  object-fit: contain; 
}

//comentarios
.comments-section {
  margin: 20px 0;
  padding: 0 16px;
}

.comments-section h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 16px;
}

.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.comment-content {
  flex: 1;
}

.username {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.user-comment {
  font-size: 14px;
  color: #cccccc;
  margin-top: 4px;
}

.add-comment ion-item {
  --background: #3a3a3a;
  border-radius: 8px;
}
