<ion-content class="register-content"> 
  <div class="form-container">
    <h1>Registro</h1>
    
    <ion-item class="input-item">
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" [(ngModel)]="registerData.username"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Número de teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="registerData.phone"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="registerData.email"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="registerData.password"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="registerData.confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" class="register-button" color="warning" (click)="onRegister()">
      Regístrate
    </ion-button>
  </div>
</ion-content>
